<div id="competNoStart" style="display:none;">
	<header class="wrapper" style="display:none;">
	    <!--头部-->
	    <div class="am-header">
	    	<a href="###" class="header-Link header-leftLink"><i class="am-icon-arrow-left"></i></a>
	        <h1>恒生杯炒股大赛</h1>
	        <a class="header-rightText">邀请好友</a>
	    </div>
	    <!--头部-->
	</header>	

	<div class="content">
		<div class="banner" id="noStart_banner">
			<img />
			<div class="bottom"><p>比赛时间：</p></div>
		</div>
		<div class="competition wbm">		
			<div class="bsgz">
				<div class="cd">奖励</div>
				<ul class="reward clearfix" id="noStart_reward">
					<li>
						<img src="images/num1.png" />
						<p>一等奖</p>
						<em></em>
					</li>
					<li>
						<img src="images/num2.png" />
						<p>二等奖</p>
						<em></em>
					</li>
					<li>
						<img src="images/num3.png" />
						<p>三等奖</p>
						<em></em>
					</li>
				</ul>						
			</div>		
			<div class="bsgz_main">
				<h2><i></i>比赛规则</h2>
				<div class="gz_txt" id="noStart_rule">
				</div>
			</div>
		</div>
		
	</div>

	<div class="bottom_btn">
		
	</div>		
</div>
      