<div id="competition" style="display:none;">
	<header class="wrapper" style="display:none;">
	    <!--头部-->
	    <div class="am-header">
	        <h1>大赛</h1>
	        <a class="header-rightText">承办大赛</a>
	    </div>
	    <!--头部-->
	</header>
	<div class="content">
		<div class="banner swiper-container">
			<!--滑动的banner-->
	        <div class="swiper-wrapper">
		        <!-- <div class="swiper-slide">
		        	<a href="https://light.hs.net/portal/home/#/market">
		        		<img src="http://10.139.107.166:8080/compet/banner/1.png" alt="大浪淘沙，各显神通">
		        	</a>
		        </div>
		        <div class="swiper-slide">Slide 2</div>
		        <div class="swiper-slide">Slide 3</div> -->
		    </div>
		     <!-- 如果需要分页器 -->
    		<div class="swiper-pagination"></div>
		</div>
		<div class="competition">
			<div class="ssbb">
				<h2><i></i>赛事播报</h2>
				<ul class="ss_list">
					<!-- <li class="clearfix">
						<div class="pic">
							<img src="../images/tx_test.jpg" />
							<div class="status">比赛中</div>
						</div>
						<div class="txt">
							<h3>恒生杯炒股大赛<i class="bq">新增</i><i class="bq bq2">已参加</i></h3>
							<p>参与人数<em class="num">123579</em></p>
							<p>比赛时间<em class="num">2016-05-10至2016-05-20</em></p>
						</div>
					</li>
					<li class="clearfix">
						<div class="pic">
							<img src="../images/tx_test.jpg" />
							<div class="status">已结束</div>
						</div>
						<div class="txt">
							<h3>恒生杯炒股大赛<i class="bq bq3">热门</i></h3>
							<p>参与人数<em class="num">123579</em></p>
							<p>比赛时间<em class="num">2016-05-10至2016-05-20</em></p>
						</div>
					</li>
					<li class="clearfix">
						<div class="pic">
							<img src="../images/tx_test.jpg" />
							<div class="status">未开始</div>
						</div>
						<div class="txt">
							<h3>恒生杯炒股大赛</h3>
							<p>参与人数<em class="num">123579</em></p>
							<p>比赛时间<em class="num">2016-05-10至2016-05-20</em></p>
						</div>
					</li> -->
				</ul>
			</div>
		</div>
	</div>
	
	<!--承办弹窗-->
	<div class="cb_popup_bg">
	    <div class="cb_popup">   
	    	<a class="close"></a>
	    	<div class="cb_main">
	    		<img src="../images/cooper.png" />
		        <p>欢迎来电或邮件承办大赛</p>
		        <a href="tel:0571-26698888" class="ui-btn ui-btn-red">0571-26698888</a>
		        <a href="mailto:wensdf@hundsun.com" class="ui-btn">wensdf@hundsun.com</a>
	    	</div>        
	    </div>
	</div>
	<!--承办弹窗-->	
</div>
      