
<div class="content" id="ranking" style="display:none;">
    <ul class="ranking_nav clearfix">
        <li><a href="javascript:;">本日排行</a></li>
        <li><a href="javascript:;">本周排行</a></li>
        <li class="active"><a href="javascript:;">总排行</a></li>
    </ul>
    <div class="ranking_pai clearfix">
        <div class="tx">
            <img src="images/tx_1.png" />
        </div>
        <div class="txt">
            <h3></h3>
            <p><span id="rank_class">总</span>排名：<em></em>/<span id="total_rank"></span></p>
        </div>
        <div class="syl"></div>
    </div>
    <table class="ranking ranking_acc" width="100%" border="0" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th>名次</th>
                <th>收益率</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<script type="text/html" id="tpl_ranklist">
    {{each list as v index}}
        <tr>
            <td class="clearfix">
                {{if index<3}}
                    <i class="num num{{index+1}}"></i>
                {{else}}
                    <i class="num">{{index+1}}</i>
                {{/if}}
                <div class="tx">
                    <img src="{{v.avatar|| 'images/tx_1.png'}}">
                </div>
                <p class="name">{{v.user_name}}</p>
            </td>
            {{if v.income_ratio > 0}}
                <td class="z_sy">+{{v.income_ratio | float_format}}</td>
            {{else if v.income_ratio == 0}}
                <td>{{v.income_ratio | float_format}}</td>
            {{else}}
                <td class="d_sy">{{v.income_ratio | float_format}}</td>
            {{/if}}
        </tr>
    {{/each}}
</script>